html {
    background-color: #ffffff;
    color: #141416;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.counter-2 {
    display: flex;
    margin: 0 20%;
}
.foto {
    border-radius: 30rem 0rem 30rem 0rem;
    background-color: #dd2221;
    width: 256px;
    height: 256px;
    padding: 1.2rem;
}

.foto img {
    border-radius: 10rem;
    width: 256px;
    height: 256px;
    transition: all 0.3s ease;
}

.name {
    width: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 304px;
    margin-left: 2rem;
}

.bi0 {
    margin-top: 2rem;
}

.bi0 {
    margin: 0 36%;
}

.bio h4 {
    margin-bottom: 1rem;
    font-size: 1.05rem;
}

.foto img:hover {
    transform: scale(1.15);
    border-radius: 7rem;
}

.end {
    display: flex;
    justify-content: end;
}
.bio h1 {
    font-size: 3rem;
    user-select: none;
}
/* Стили для светлой темы */
.light-theme {
    background-color: #ffffff;
    color: #141416;
}

/* Стили для темной темы */
.dark-theme {
    background-color: #141416;
    color: #ffffff;
}
#theme-toggle {
    display: flex;
    justify-content: end;
    margin-right: 36rem;
}
#theme-icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.soc {
    margin-top: 1rem;
}
.soc a {
    margin-right: .5rem;
}
.soc img {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease;
}
.soc img:hover {
    transform: scale(1.1);
}
/*Уведомление о куки*/
#cookie-notice {
    background-color: #0d0d0e;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    border-radius: 1rem 1rem 0rem 0rem;
}

#cookie-accept {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 1rem;
    margin-right: 2rem;
}

#cookie-accept:hover {
    background-color: #0056b3;
}